<div class="row">
  <span class="glyphicon glyphicon-user"></span>
  <h3>{{current_user.user_name}}</h3>
  <hr>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>User Details</h3>
    <p>{{current_user.user_name}}</p>
    <a ui-sref="futureRoute">Edit Profile</a>
  </div>
  <div class="col-md-6">
    <h3>Tickets</h3>
    <p>{{data.stuff}}</p>
    <a ui-sref="create_ticket">New Ticket</a>
    <a ui-sref="current_ticket">Current Ticket</a>
    <a ui-sref="view_ticket_history">Ticket History</a>
  </div>
</div>
