<!doctype html>
<html lang="en" ng-app="dalesBikeMania">
<head>
  <meta charset="UTF-8">
  <title>Dales Bike Mania</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="lib/angular-ui-router.js"></script>
  <script src="app.js"></script>

  <script src="controllers/TicketsController.js"></script>
  <script src="controllers/HomeController.js"></script>
  <script src="controllers/UserSignInController.js"></script>
  <script src="controllers/UserProfileController.js"></script>
  <script src="controllers/CreateUserController.js"></script>
  <script src="controllers/AboutUsController.js"></script>
  <script src="controllers/ContactUsController.js"></script>
  <script src="controllers/NewMechanicController.js"></script>
  <script src="controllers/UsersController.js"></script>

  <script src="services/TicketsFactory.js"></script>
  <script src="services/UtilitiesFactory.js"></script>
  <script src="services/UsersFactory.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="container">
    <nav>
      <li><a ui-sref="home">Home</a></li>
      <%= link_to "Customers", users_sign_in_path %>
      <li ng-show="current_user.user_auth"><a ng-click='signOut()'>Sign Out</a></li>
      <li ng-show="current_user.user_auth"><a ui-sref="view_user_profile">My Profile</a></li>
      <li ng-show="current_user.user_auth"><a ui-sref="current_ticket">Current Ticket</a></li>
      <li ng-show="current_user.user_auth"><a ui-sref="create_ticket">New Ticket</a></li>
      <li><a ui-sref="about_us">Our Mission</a></li>
      <li><a ui-sref="contact_us">Contact Us</a></li>
    </nav>
    <hr>
    <div ui-view>
    </div>
  </div>
</body>
</html>
