<div class="second_nav">
  <div class="iam"><h4>I am a....</h4></div>
  <div class="buttons">
    <div class="customer stuff">
      <%= link_to "Customer", new_user_session_path, :class => "button cta-button" %>
    </div>

    <div class="mechanic stuff">
    <%= link_to "Mechanic", new_user_session_path, :class => "button cta-button" %>
    </div>
  </div>
</div>

<div class="content">
  <h1> We're here to help get you rolling when it's most convenient </h1>

  <p></p>

</div>
