<%= render "layouts/navbar2" %>

<%= render 'layouts/errors', object: @bicycle %>

<div class="container">
  <div class="row login">
    <div class="col-sm-12">
      <h1>Add a Bicycle to your profile</h1>
<%= render 'form', object: @bicycle %>
    </div>
  </div>
</div>
