<h1>Contact Us</h1>

<div class="second-navigation">
  <%= link_to "Home", root_path %>
  <%= link_to "Profile", customer_path(current_user) %>
  <%= link_to "My Repair Ticket", ticket_path(current_user)%>
  <%= link_to "Sign Out", destroy_user_session_path, :method => "DELETE" %>
</div>

<div class="container">
<div class="content">
  <h2>Email: dale.palmer.jr13@gmail.com</h2>
  <h2>Phone: </h2>
  <h2>Address: </h2>
</div>
</div>
