body {
  background-color: #E1D9C7;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 34px;
  text-align: center;
  padding: 30px 0px;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
  font-weight: 200;
  color: #454545;
  letter-spacing: 2px;
}

nav {
  width: 100%;
  height: 40px;
  background-color: #154765;
}

nav a {
  float: right;
  padding-right: 40px;
  font-family: 'Poiret One', cursive;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav li {
  list-style: none;
  display: inline;
  padding-left: 10px;

}

nav a:hover {
  color: #F68438;
  text-decoration: none;
}


.title a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Megrim', cursive;
  float: left;
  font-weight: bold;
}

.title {
  padding: 7px 0px 0px 20px;
}

header {
  background-image: url('cutmypic.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #EBE7DC;
  width: 100%;
  height: 260px;
}

.second_nav {
  background-color: #5C7C8D;
  width: 100%;
  height: 150px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 18px;
}

.cta-button {
  border-radius: 3px;
  font-size: 20px;
  padding: 20px 40px;
  background-color: #F68438;
  color: #fff;
  text-decoration: none;
  letter-spacing: 7px;
  box-shadow: #FAAC78 1px 1px 0px 0px inset;
  border: 1px solid #6e5122;
}

.button:hover {
  background-color: #154765;
  box-shadow: #2F6180 1px 1px 0px 0px inset;
  border: 1px solid #0A2230;
  text-decoration: none;
  color: #fff;
}

.stuff {
  display: inline-block;
  padding-top: 20px;
}


.content {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
  font-weight: 200;
  color: #454545;
  width: 60%;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;

}

.content p {
  padding-bottom: 10px;
}

.sign-up {
  text-align: center;
}

.blue_border {
  width: 100%;
  height: 17px;
  background-color: #5C7C8D;
  border: 1px solid #2F6180;
  box-shadow: #749AAD 1px 1px 0px 0px inset;
}

.form-control {
  border: 1px solid #c9b7a2;
  background: #EBE7DC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c9b7a2;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
}

.form-control:focus {
  background: #EBE7DC;
  color: #154765;

}

.form-title {
  padding-bottom: 8px;
}

.form-horizontal {
  padding: 30px 0 0 0px;
}

label {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-align: right;
}

.submit-button {
  border-radius: 3px;
  font-size: 18px;
  padding: 18px 34px;
  margin-top: 10px;
  background-color: #F68438;
  color: #fff;
  text-decoration: none;
  letter-spacing: 7px;
  box-shadow: #FAAC78 1px 1px 0px 0px inset;
  border: 1px solid #6e5122;
  font-family: 'Raleway', sans-serif;
}

.submit-button:hover {
  background-color: #154765;
  box-shadow: #2F6180 1px 1px 0px 0px inset;
  border: 1px solid #0A2230;
  text-decoration: none;
  color: #fff;
}

.submit-container {
  text-align: center;
}

.iam {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #fff;
  letter-spacing: 5px;
}

.avatar {
  background-image: url('avatar-placeholder.png');
  width: 100px;
  height: 100px;
  background-size: cover;
  background-color: #EBE7DC;
  margin-top: 30px;
  margin-left: 15px;
}

.tickets {
  border-left: 8px solid #FC9E60;
  border-right: 8px solid #FC9E60;
  border-bottom: 8px solid #FC9E60;
  background-color: #EBE7DC;
  width: 70%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

}

.ticket-info p {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  padding-bottom: 14px;
}

.ticket-info h3 {
  font-family: 'Gruppo', sans-serif;
  font-size: 20px;
  color: #154765;
  padding-bottom: 20px;
  padding-top: 18px;
  text-align: center;
}

.ticket-info {
  padding-left: 50px;
  height: 100%;
}

.details {
  font-family: 'Oxygen', sans-serif;
  color: #F68438;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.second-navigation {
  width: 100%;
  height: 55px;
  background-color: #5C7C8D;
  padding: 11px 20px 0px 20px;
  text-align: center;
}

.second-navigation a {
  font-family: 'Poiret One', cursive;
  font-size: 27px;
  color: #fff;
  text-decoration: none;
  padding-right: 40px;
}

.second-navigation a:hover {
  text-decoration: none;
  color: #F68438;
}

.login {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
}

.md-button {
  border-radius: 3px;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #F68438;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  box-shadow: #FAAC78 1px 1px 0px 0px inset;
  border: 1px solid #6e5122;
  font-family: 'Raleway', sans-serif;

}

.lg-button {
  border-radius: 3px;
  font-size: 18px;
  padding: 15px 25px;
  background-color: #F68438;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  box-shadow: #FAAC78 1px 1px 0px 0px inset;
  border: 1px solid #6e5122;
  margin-top: 20px;
  display: block;
  width: 220px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.profile {
  margin-top: 70px;
}

.name {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
}

.profile-details h2 {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  padding-top: 25px;
  margin-bottom: 30px;
}

.profile-details p {
  margin-top: 20px;
  margin-bottom: 10px;

}

.profile-picture {
  background-image: url('avatar-placeholder.png');
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;

}

select {
  border: 1px solid #c9b7a2;
  background: #EBE7DC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: black;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;s
  font-family: 'Raleway', sans-serif;
}

option {
  font-family: 'Raleway', sans-serif;
}

/*dark blue: 154765
regular blue: 5C7C8D
light bg tan: EBE7DC
dark bg tan: E1D9C7
light orange: FC9E60
bright orange: F68438*/
