<div class="second-navigation">
  <a ui-sref="home">Home</a>
  <a ui-sref="user_profile_page">Profile</a>
  <a ui-sref="create_ticket">New Ticket</a>
  <a ui-sref="#">Log Out</a>
</div>
    <div class="bikeimage">
    </div>


<h1 class="current-ticket">Current Ticket</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 ticket-details">

  <ng-repeat="item in tickets | filter:{status:'!Completed'}" class="table table-bordered">



          <p><span class="details">Address:</span> {{item.address}} <p>
          <p><span class="details">Problem:</span> {{item.problem_notes}}<p>
          <p><span class="details">Location Notes:</span> {{item.location_notes}}<p>
          <p><span class="details">Status:</span> {{item.status}}<p>
          <span ng-show="ticket.claimed">{{something.mechanic.name}}<p>
          <span ng-show="ticket.claimed">{{something.something.timePickedUp}}<p>
          <p><span class="details">User Rating:</span> {{item.rating_value}}<p>

    </div>
