<h1>All Tickets</h1>
<div class="row">
  <h4>My Tickets</h4>
  {{tickets}}
  <table ng-repeat="item in tickets" class="table table-bordered">
    <thead>
      <tr>
        <th>
          Ticket Number: {{item.id}}
          {{ item }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Address: {{item.address}} <br>
          Problem: {{item.problem_notes}}<br>
          Location Notes: {{item.location_notes}}<br>
          Status: {{item.status}}<br>
          <span ng-show="ticket.claimed">{{item.mechanic.name}}</span><br>
          <span ng-show="ticket.claimed">{{item.something.timePickedUp}}</span><br>
          User Rating: {{item.rating_value}}<br>

          <button ng-click="claimTicket(item)">Claim Ticket</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
