<div class="second-navigation">
  <a ui-sref="home">Home</a>
  <a ui-sref="create_user">Sign Up</a>
</div>

<div class="container">
  <div class="row login">
    <div class="col-sm-12">
      <h1>Log In</h1>
      <form class="form-horizontal" ng-submit="signIn()" role="form">
        <div class="form-group">
          <label for="user_email" class="col-sm-4">Email</label>
          <div class="col-sm-6">
            <input class="form-control" ng-model="userName" type="text" name="user_email" /><br />
          </div>
        </div>
        <div class="form-group">
          <label for="user_password" class="col-sm-4">Password</label>
          <div class="col-sm-6">
            <input class="form-control" ng-model="passWord" type="text" name="user_password" /><br />
          </div>
        </div>
        <div class="submit-container">
          <input class="submit-button" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>
