
<div class="second_nav">
  <div class="iam"><h4>I am a....</h4></div>
  <div class="buttons">
    <div class="customer stuff">
      <a ui-sref="user_sign_in" class="button cta-button"> Customer </a>
    </div>

    <div class="mechanic stuff">
      <a ui-sref="mechanic_sign_in" class="button cta-button"> Mechanic </a>
    </div>
  </div>
</div>

<div class="content">
  <h1> We Will Fix Your Bike</h1>
<p>  McSweeney's selfies mlkshk letterpress. Quinoa Tumblr PBR&B, four dollar toast butcher Truffaut keytar vegan 3
   wolf moon typewriter beard DIY literally readymade dreamcatcher. Fashion axe aesthetic trust fund vinyl. Keytar
    art party letterpress selfies lumbersexual. Normcore bicycle rights messenger bag, McSweeney's craft beer tofu
    flexitarian letterpress health goth next level bespoke pop-up meditation 90's. Vinyl ugh four dollar toast tofu
    pour-over pork belly, chia aesthetic banh mi. Echo Park 90's bespoke locavore, Pinterest High Life bitters raw denim.</p>

<p> Cornhole PBR drinking vinegar, banjo banh mi blog mlkshk cray normcore before they sold out meditation McSweeney's vegan
 XOXO tofu. Sustainable dreamcatcher forage, asymmetrical pop-up seitan 90's food truck gentrify beard keffiyeh. Tumblr authentic
 hashtag, cronut scenester aesthetic banjo meggings Banksy pop-up butcher small batch deep v sriracha sartorial. 3 wolf moon cred
 hoodie, scenester butcher umami Thundercats Marfa church-key. Heirloom Blue Bottle YOLO, banh mi selfies paleo farm-to-table wayfarers
 Williamsburg Banksy gastropub bitters fixie. Drinking vinegar chambray cred, listicle actually leggings Echo Park cronut occupy lo-fi
  banjo mustache. Truffaut jean shorts polaroid, Vice fanny pack banjo readymade actually irony messenger bag.</p>
</div>
