<h1>Unclaimed Tickets</h1>
<div class="row">
  <table ng-repeat="item in tickets | filter: { repair_status: 'Posted' }" class="table table-bordered">
    <thead>
      <tr>
        <th>
          Ticket Number: {{item.id}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Submitted By: {{current_user.name}}<br>
          Address: {{item.location}} <br>
          Problem: {{item.problem_id}}<br>
          Location Notes: Notes Go Here<br>
          Status: {{item.repair_status}}<br>
          User Rating: {{item.user.rating_value}}<br>
        </td>
      </tr>
      <tr>
        <td>
          <button ng-click="claimTicket()">
        </td>
      </tr>
    </tbody>
  </table>
</div>
